html {  

    box-sizing: border-box;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
    -ms-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in Windows Phone */
}

body {
    background-color: rgb(227, 235, 235);
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.5;
    color: #000000;
}

.bg-light {
    background-color: #d8d8d8 !important;
}

.buttonColor {
    background-color: #4b427a;
    color: #ffffff;
    font-weight: bold;
}